@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');
$font-family: 'Outfit', sans-serif;

// colors
$color-red: #FC4747;
$color-darkBlue: #10141E;
$color-greyishBlue: #5A698F;

$color-semiDarkBlue: #161D2F;
$color-white: #FFFFFF;